trigger:
  branches:
    include:
      - main

pool:
  name: 'default'

variables:
  NODE_VERSION: '18'
  PACKAGE_PATH: '.'
  ORGANIZATION: 'nubeeratechnologies'
  FEED: 'myartifact'

steps:
- script: |
    node -v
    npm -v
  displayName: 'Check Node & npm versions'

- task: npmAuthenticate@0
  displayName: 'Authenticate npm to Azure Artifacts'
  inputs:
    workingFile: '/home/azureuser/npm-artifact/.npmrc'

- script: |
    cd $(PACKAGE_PATH)
    npm install
    npm run build
  displayName: 'Install & build package'

- task: Npm@0
  displayName: 'Publish npm package to Azure Artifacts'
  inputs:
    command: 'custom'
    workingDir: '$(PACKAGE_PATH)'
    customCommand: 'publish --registry https://pkgs.dev.azure.com/$(ORGANIZATION)/_packaging/$(FEED)/npm/registry/'

- script: |
    if [ -f .npmrc ]; then rm -f .npmrc; fi
  displayName: 'Remove .npmrc from agent workspace'
